label {
    cursor: default;
}

.inner-wrap {
    min-height: 100vh;
}

.input-icon {
    cursor: pointer;
    float: right;
    margin-right: 6px;
    margin-top: -44px;
}

@media only screen and (min-width: 641px) {
    .inner-wrap {
        -webkit-transform: translate3d(15.625rem, 0, 0);
        -moz-transform: translate3d(15.625rem, 0, 0);
        -ms-transform: translate(15.625rem, 0);
        -ms-transform: translate3d(15.625rem, 0, 0);
        -o-transform: translate3d(15.625rem, 0, 0);
        transform: translate3d(15.625rem, 0, 0);
    }

    .tab-bar .title {
        margin-left: 10px;
    }
}