<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left">
        <a class="show-for-small-only left-off-canvas-toggle menu-icon" href="#">
          <span></span>
        </a>
      </section>

      <h1 class="left title">{{title}}</h1>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Search</label></li>
        <li class="searchbar"></li>
        <li><label>WTFSWW</label></li>
        <li><a href="#">Home</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <div id="content"></div>
      <a class="show-for-small-only exit-off-canvas"></a>
    </section>
  </div>
</div>